* {
    box-sizing: border-box;
}

:root {
   /* Layout 
   - Mobile width: 375px; 
   - Desktop width: 1440px;
   */

   /* Colors */
   --col-pri-white: hsl(0, 0%, 100%);
   --col-pri-black: hsl(0, 0%, 0%); --col-pri-dark-gray1:  hsl(0, 0%, 55%);
   --col-pri-dark-gray2: hsl(0, 0%, 41%);
   
   /* Body */
   --body-font-size: 15px; 

   /* Fonts */
   --font-family-alata: "Alata";
   --font-family-alata-weight: 400;
   --font-family-josefin: "Josefin Sans";
   --font-family-josefin-weight: 300;
}

/* ---Resetting--- */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 1440px;
}

/* Generic flex and grid class */
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

/* Generic content wraper */
.content-wraper {
    max-width:  1008px;
    margin: 0 auto;
}

/* Detail css */

/* Header */
header {
    background-image: url('images/desktop/image-hero.jpg');
    padding: 2em 0;
}

/** Navigation **/
nav .content-wraper {
    font-family: var(--font-family-alata);
    font-weight: var(--font-family-alata-weight);
    color: var(--col-pri-white);
}

nav .content-wraper {
    align-items: center;
    justify-content: space-between;
}

nav .content-wraper .nav-logo {
    font-size: 2em;
}

nav .content-wraper ul {
    gap: 25px;
}

nav .content-wraper a {
    color: var(--col-pri-white);
}

/** Hero **/
.hero {
    padding: 5em 0;
}

.hero .grid-container {
    grid-template-columns: 1fr 1fr;
}

.hero .content-wraper {
    font-family: var(--font-family-josefin);
    font-weight: var(--font-family-josefin-weight);
    font-size: 3em;
    color: var(--col-pri-white);
}

.hero .grid-container .grid-item {
    padding: .8em 1.2em;
    border: 1px solid white;
    grid-column: 1 / 2;
}

/* main */
main {
}

/** Interactive **/
/* Potentally can be smarter way of doing this, this
can be done with name lines */
/* Minmax(1fr, auto) make sure the img stays inside
the grid */
.interactive .grid-container {
    height: 100vh;
    grid-template-columns: repeat(6, minmax(1fr, auto));
    grid-template-rows: repeat(3, minmax(1fr,auto));
}

.interactive .grid-container .grid-item.thumb{
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

.interactive .grid-container .grid-item.intro {
    grid-column: 4 / 8;
    grid-row: 2 / 4;
}

.interactive .grid-container .grid-item.intro {
    border: 1px solid #000;
    background-color: var(--col-pri-white);
    font-family: var(--font-family-josefin);

    line-height: 1.25;
}

.interactive .grid-container .grid-item.intro .intro-tittle{
    font-size: 2.5em;
}
.interactive .grid-container .grid-item.intro .intro-detail{
    color: var(--col-pri-dark-gray2);
}

/* footer */
footer {
}