* {
    box-sizing: border-box;
}

:root {
   /* Layout 
   - Mobile width: 375px; 
   - Desktop width: 1440px;
   */

   /* Colors */
   --col-pri-white: hsl(0, 0%, 100%);
   --col-pri-black: hsl(0, 0%, 0%); --col-pri-dark-gray1:  hsl(0, 0%, 55%);
   --col-pri-dark-gray2: hsl(0, 0%, 41%);
   
   /* Body */
   --body-font-size: 15px; 

   /* Fonts */
   --font-family-alata: "Alata";
   --font-family-alata-weight: 400;
   --font-family-josefin: "Josefin Sans";
   --font-family-josefin-weight: 300;
}

/* ---Resetting--- */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    position: relative;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Generic flex and grid class */
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

/* Generic content wraper */
.content-wraper {
    max-width:  1140px;
    margin: 0 auto;
}

/* Detail css */

/* Header */
header {
    background-image: url('images/desktop/image-hero.jpg');
    background-size: cover;
    padding: 2em 0;
}

/** Navigation **/
nav .content-wraper {
    font-family: var(--font-family-alata);
    font-weight: var(--font-family-alata-weight);
    color: var(--col-pri-white);
}

nav .content-wraper {
    align-items: center;
    justify-content: space-between;
}

nav .content-wraper .nav-logo {
    font-size: 2em;
}

nav .content-wraper ul {
    gap: 25px;
}

/* This is a fucking hack 
From this here: 
https://programmersportal.com/css/how-to/adjust-border-length.php
*/

nav .content-wraper li{
    padding: 5px;
}

nav .content-wraper li:hover {
    position: relative;
}

nav .content-wraper li:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid var(--col-pri-white);
    width: 50%;
}

nav .content-wraper a {
    color: var(--col-pri-white);
}

/* For the hamburger button when swtich to mobile layout */
header .flex-container.content-wraper{
    /* Just for the hamburger have somewhere to park */
    position: relative;
}

header nav .mb-menu-btn {
    position: absolute;
    height: 20px;
    width: 30px;
    top: 0.95em;
    right: .1em;
    display: none;
    flex-direction: column;;
    justify-content: space-between;
}
header nav .mb-menu-bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

/** Hero **/
.hero {
    padding: 5em 0;
}

.hero .grid-container {
    grid-template-columns: 1fr 1fr;
}

.hero .content-wraper {
    font-family: var(--font-family-josefin);
    font-weight: var(--font-family-josefin-weight);
    font-size: 3em;
    color: var(--col-pri-white);
}

.hero .grid-container .grid-item {
    padding: .8em 1.2em;
    border: 1px solid white;
    grid-column: 1 / 2;
}

/* main */
main {
}

/** Interactive **/
/* Potentally can be smarter way of doing this, this
can be done with name lines */
/* Minmax(1fr, auto) make sure the img stays inside
the grid */
.interactive {
    min-height: 100vh;;
    padding: 4.5em 0;
}
.interactive .grid-container {
    grid-template-columns: repeat(3 , minmax(1fr, auto));
    grid-template-rows: repeat(3 , minmax(1fr, auto));
}

.interactive .grid-container .grid-item.thumb{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.interactive .grid-container .grid-item.intro {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.interactive .grid-container .grid-item.intro {
    /* Grid item setting */
    align-self: end;
    justify-self: end;


    background-color: var(--col-pri-white);
    font-family: var(--font-family-josefin);

    /* Flex setting */
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 25px;

    padding: 5em;
}

.interactive .grid-container .grid-item.intro .intro-tittle{
    color: var(--col-pri-black);
    font-size: 3.5em;
}
.interactive .grid-container .grid-item.intro .intro-detail{
    color: var(--col-pri-dark-gray2);
    line-height: 1.25;
    font-size: 1.2em;
}

/** Showcase **/
.showcase {
    padding-bottom: 7em;
}

.showcase.grid-container{
    grid-template-areas: 
    "showcase-tittle showcase-btn"
    "showcase-item-container showcase-item-container"
    ;
    row-gap: 6em;
}

.showcase .showcase-tittle {
    grid-area: showcase-tittle;
    font-family: var(--font-family-josefin);
    color: var(--col-pri-black);
    font-size: 2.75em;
}
.showcase .showcase-btn {
    grid-area: showcase-btn;
    justify-self: end;
}
.showcase .showcase-item-container {
    grid-area: showcase-item-container;
}

.showcase .showcase-btn button{
    font-family: var(--font-family-alata);
    font-size: initial;
    color: var(--col-pri-black);
    letter-spacing: 5px;
    background-color: var(--col-pri-white);
    border: 2px solid var(--col-pri-black);
    border-radius: 3px;
    padding: 0.5em 2.75em;
}

.showcase .showcase-btn button:hover {
    color: var(--col-pri-white);
    background-color: var(--col-pri-black);
}

.showcase-item-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 25px 25px;
}

.showcase-item-container .showcase-item{
    height:60vh; 

    /* flex setting */
    justify-content: flex-start;
    align-items: flex-end;

    background-size: cover;
    padding: 0 0 2.5em 2.5em;
}

.showcase-item-container .showcase-item a{
    font-family: var(--font-family-josefin);
    font-weight: 10;
    font-size: 2.5em;
    color: var(--col-pri-white);

/* I should wrap this shit in a div, but meh */
    width: 75%;
    display: flex;
    flex-flow: row wrap;
}
.showcase-item-container .one {
    background-image: url('images/desktop/image-deep-earth.jpg');
}
.showcase-item-container .two{
    background-image: url('images/desktop/image-night-arcade.jpg');
}
.showcase-item-container .three{
    background-image: url('images/desktop/image-soccer-team.jpg');
}
.showcase-item-container .four{
    background-image: url('images/desktop/image-grid.jpg');
}
.showcase-item-container .five{
    background-image: url('images/desktop/image-from-above.jpg');
}
.showcase-item-container .six{
    background-image: url('images/desktop/image-pocket-borealis.jpg');
}
.showcase-item-container .seven{
    background-image: url('images/desktop/image-curiosity.jpg');
}
.showcase-item-container .eight{
    background-image: url('images/desktop/image-fisheye.jpg');
}

/* This is a trick of setting background-image of 
a div to have a certain opacity
source of this fucking trick:
https://www.youtube.com/watch?v=lRPguPbovro&t=81s
*/
.showcase-item-container .showcase-item:hover{
    position: relative;
    /* Reorder stacking ? This was
    told to have less side effects */
    isolation: isolate;
}

.showcase-item-container .showcase-item:hover a{
    color: var(--col-pri-black);
}

/* Basically give this an overlay then
opacity the overlay */
.showcase-item-container .showcase-item:hover::after{
    content: '';
    position: absolute;
    background: var(--col-pri-white);
    inset: 0;
    z-index: -1;
    opacity: .7;
}

/* footer */
footer {
    background-color: var(--col-pri-black);
    color: var(--col-pri-white);
    padding: 3em  0;

    font-family: var(--font-family-alata);
}

footer a {
    color: var(--col-pri-white);
}

footer .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo scmedia"
    "links cpright"
    ;
    align-items: center;
}

footer .grid-container .grid-item.nav-links {
    grid-area: links;
}

footer .grid-container .grid-item.nav-logo {
    grid-area: logo;
}

footer .grid-container .grid-item.socialmedia {
    grid-area: scmedia;
}

footer .grid-container .grid-item.copyright {
    grid-area: cpright;
}

/* Detail css of the footer */
/**  Logo **/
footer .grid-container .grid-item.nav-logo {
    font-family: var(--font-family-alata);
    font-weight: var(--font-family-alata-weight);
    color: var(--col-pri-white);

    font-size: 2em;
}
/** Social media **/
footer .grid-container .grid-item.socialmedia.flex-container{
    justify-content: end;
    gap: 20px;
}
/** Copyright **/
footer .grid-container .grid-item.copyright {
    color: var(--col-pri-dark-gray2);
    justify-self: end;
}
/** Links **/
footer .grid-container .grid-item.nav-links {
    gap: 30px;
}

/** A fucking hack just to get bottom shorten border 
It could be coded to be use as a class but meh.
*/
footer .grid-container .grid-item.nav-links li, 
footer .grid-container .grid-item.socialmedia li {
    padding: 5px;
}
footer .grid-container .grid-item.nav-links li, 
footer .grid-container .grid-item.socialmedia li{
    position: relative;
}

footer .grid-container .grid-item.nav-links li:hover::before, 
footer .grid-container .grid-item.socialmedia li:hover::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid var(--col-pri-white);
    width: 50%;
}

/* Mobile layout */
@media (max-width: 720px) {
    .content-wraper {
        max-width: 720px;
        width: 94%;
    }

    /* Header */
    /* The fucking nav and transitioning to mobile layout */
    header {
        padding: 3vh 0;
        background-size: cover;
    }

    header nav .mb-menu-btn {
        display: flex;
    }

    header .flex-container.content-wraper {
        flex-direction: column;
        align-items: flex-start;
    }

    header .flex-container.nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    /* Oh man, this is bad code right here */
    header.active {
        background-image: none;
        background-color: var(--col-pri-black);
    }

    header .flex-container.nav-links.active{
        background-color: var(--col-pri-black);
        display: flex;
    }

    header nav.active{
        background-color: var(--col-pri-black);
        height: 100vh;
    }
    header nav.active .flex-container.content-wraper{
        gap: 25px;
    }

    /* Fucking hamburger animation */
    header .mb-menu-bar:nth-child(1).active{
        transition: 0.3s;
        transform: translateY(220%) rotate(-45deg);
    }
    header .mb-menu-bar:nth-child(2).active{
        transition: 0.3s;
        transform: scale(0);
    }
    header .mb-menu-bar:nth-child(3).active{
        transition: 0.3s;
        transform: translateY(-320%) rotate(45deg);
    }

    header .mb-menu-bar:nth-child(1){
        transition: 0.3s;
        transform: translateY(0) rotate(0);
    }
    header .mb-menu-bar:nth-child(2){
        transition: 0.3s;
        transform: scale(1);
    }
    header .mb-menu-bar:nth-child(3){
        transition: 0.3s;
        transform: translateY(0) rotate(0);
    }

    /** Hero **/
    .hero {
        padding: 10em 0;
    }
    .hero .grid-container.content-wraper {
        grid-template-columns: 1fr;
    }
    /* In mobile it's better to use relative unit than
    fix px this hero text here is an example */
    /* IN this case for font size and padding to scale
    right and keep certain style to more more or less 200px more
    width them use view width for padding and font-szie */
    .hero .grid-container .grid-item {
       padding: 9vw 4vw;
       font-size: 95%; 
    }

    /* Main */
    /** Interactive **/

    /* In the end, flex seems to done the job here so.*/
    .interactive .grid-container {
        display: flex;
        flex-flow: column wrap;
        gap: 20px
    }

    .interactive .grid-container .grid-item.thumb img{
        width: 100%;
        height: auto;
    }
    .interactive .grid-container .grid-item.intro {
        padding: 15vw 9vw;
        gap: 25px;
    }

    .interactive .grid-container .grid-item.intro .intro-tittle{
        font-size: 8.9vw;
        text-align: center;
    }
    .interactive .grid-container .grid-item.intro .intro-detail{
        text-align: center;
        line-height: 1.25;
        font-size: 4.8vw;
    }

    /** SHowcase **/
    .showcase.grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "showcase-tittle"
        "showcase-item-container"
        "showcase-btn"
        ;
    }

    .showcase .showcase-tittle {
        font-size: 11.2vw;
    }

    .showcase .showcase-btn{
        justify-self: center;
    }

    .showcase .showcase-item-container.grid-container {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }

    .showcase-item-container .showcase-item{
        height:27vh; 

        /* flex setting */
        justify-content: flex-start;
        align-items: flex-end;

        background-size: cover;
        padding: 0 0 5.3vw 4.5vw;
    }

    .showcase-item-container .showcase-item a{
        font-family: var(--font-family-josefin);
        font-weight: 10;
        font-size: 8.7vw;
        color: var(--col-pri-white);

    /* I should wrap this shit in a div, but meh */
        width: 55%;
        display: flex;
        flex-flow: row wrap;
    }

    /* footer */
    footer {
        padding: 3em 0;
    }
    /* Changing this to flex seems easier to manage */
    footer .grid-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    /** Logo **/
    footer .grid-container .grid-item.nav-logo{
    }

   /** Links **/
    footer .grid-container .grid-item.nav-links {
        flex-direction: column;
        gap: 15px;
    }
}